@import "abstracts/variables";
@import "abstracts/mixins";
@import url('https://fonts.googleapis.com/css?family=Aclonica|Caudex|Forum|Fredericka+the+Great|Lateef|Marcellus+SC&display=swap');

@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

* {
    font-size: 50px;
    background-image: url("../img/background/landing-page.jpg");
    color:#e2cdb5;
//     font-family: 'Aclonica', sans-serif;
// font-family: 'Fredericka the Great', cursive;
// font-family: 'Forum', cursive;
// font-family: 'Marcellus SC', serif;
// font-family: 'Lateef', cursive;
font-family: 'Caudex', serif;
}
